<div class="container">
    <div class="wrapper">
        <p class="movie-title">{{movie.title | movieTitle}}</p>
        <button class="fa fa-edit movie-edit" (click)="openEdit()"></button>
        <button class="fa fa-trash movie-edit" (click)="deleteMovie()"></button>
    </div>

    <div class="details">
        <div class="line">
            <p class="title">ID</p>
            <p class="body">{{movie.id}}</p>
        </div>

        <div class="line">
            <p class="title">Year</p>
            <p class="body">{{movie.year}}</p>
        </div>

        <div class="line">
            <p class="title">Runtime</p>
            <p class="body">{{movie.runtime}} min</p>
        </div>

        <div class="line">
            <p class="title">Genre</p>
            <p class="body">{{movie.genre}}</p>
        </div>

        <div class="line">
            <p class="title">Director</p>
            <p class="body">{{movie.director}}</p>
        </div>
    </div>
    <!-- <img src="{{movie.posterUrl}}"> -->
</div>
