.container {
    border: #bbbbbb;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 5px;
    text-align: left;
    width: 330px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);
    /* height: 200px; */

}


.details {
    /* background: rgb(163, 53, 53); */
    margin-top: 10px;
    padding: 5px;
    padding-bottom: 10px;
    border-top: #bbbbbb 2px solid;
    border-bottom: #bbbbbb 1px solid;
}


.line {
    display: flex;
    /* line-height: 100%; */
    
    margin: 0;
    padding: 0;
    height: 20px;

}

.wrapper {
    display: block;
    /* line-height: 100%; */
    
    /* margin: 10px; */
    /* padding: 10px; */
    height: 30px;

}

.title {
    /* display: inline; */
    padding: 5px;
    font-weight: 700;
    font-size: 75%;
    width: 60px;
   
    
}

.body {
    /* display: inline; */
    padding: 5px;
    font-size: 75%;
    
}

.movie-title {
    float: left;
    position:relative;
}

.movie-edit {
    float: right;
    position:relative;
}
