<form #movieForm="ngForm">
  
  <!-- <div class="alert">{{movieForm.form.valid}}</div> -->
  <h4>Details</h4>
  <div class="form-group">
    <label for="title">Title *</label>
    <input required type="text" id="title" class="form-control" [(ngModel)]="movieCopy.title" name="title">
  </div>
  <div class="form-group">
    <label for="year">Year *</label>
    <input required minlength="4"
    type="number" id="year" min="1920" max="2019" class="form-control" [(ngModel)]="movieCopy.year" name="year">
  </div>
  <div class="form-group">
    <label for="director">Director *</label>
    <input required type="text" id="director" class="form-control" [(ngModel)]="movieCopy.director" name="director">
  </div>
  <div class="form-group">
    <label for="runtime">Runtime *</label>
    <input required
    type="number" id="runtime" min="0" max="1000" class="form-control" [(ngModel)]="movieCopy.runtime" name="runtime">
  </div>
  <div class="form-group">
    <label for="genre">Genre *</label>
    <input required type="text" id="genre" class="form-control" [(ngModel)]="movieCopy.genre" name="genre">
  </div>

</form>

<p *ngIf="!movieForm.form.valid">Please fill all the fields.</p>
<button type="button" [disabled]="!movieForm.form.valid" class="btn btn-primary" (click)="save()">Save</button>
<button type="button" class="btn btn-secondary" (click)="close()">Close</button>
