<h2>Movies List</h2>
<button (click)="addMovie()">
    <a class="fa fa-plus"></a >
    Add Movie
</button>

<div class="container">


  <div class="list" *ngFor="let movie of movieArr">
    <div class="item">
      <app-movie-row (deleted)="deleteMovie($event)" [movie]="movie"></app-movie-row>
    </div>
  </div>
</div>

