.container{
    /* border: 10px antiquewhite solid; */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    margin:5px;
}

h2 {
    /* border-bottom: solid 0.5px gray; */
    /* display: inline; */
    padding: 0;
    margin-right: 30px;
    padding-right: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 125%;
}