<body>
  <header>
    <h1>My Movies Website</h1>
    <h2>Only The Best Movies</h2>
  </header>
  <div id="main">
    <app-main></app-main>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <!-- <aside>Aside</aside> -->
  </div>
  <footer>My Movies Website</footer>
</body>