* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 110vh;
    flex-direction: column;
    margin: 0;
    /* min-height: auto; */
  }
  #main {
    display: flex;
    
    flex: 1;
  }
  #main > app-main {
    flex: 1;
  }
  #main > nav, 
  #main > aside {
    flex: 0 10vw;
    background: #eeeeee;
    border: #bbbbbb;
	  border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin: 1em;
  }
  #main > nav {
    order: -1;
  }
  


  header, footer, app-main, nav, aside {
    padding: 1em;
  }
  @media screen and (max-width: 575px) {
    #main {
      display: block;
    }
  }


footer {
    background: #aaaaaa;
    height: 10vh;
    border-top: #bbbbbb;
    border-top-style: solid;
    font-size: 100%;
    border-top-width: 5px;
    color: white;
    
}

header{
	background-color: #aaaaaa;
	height: 150px;
	position:relative;
	border-bottom: #bbbbbb;
	border-bottom-style: solid;
	border-bottom-width: 5px;
}

header h1{
	color:#fff;
	position: absolute;
	top: 10;
  left: 5;
  font-size: 125%;
	padding: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
  border-radius: 30px;
	/* border: #bbbbbb; */
	
}

header h2{
	float:right;
	color:rgba(255, 255, 255, 0.507);
    position: absolute;
    font-size: 100%;
	padding-right: 20px;
	bottom: 0;
	right: 0;
}

nav ul{
    list-style:none;
    padding: 0;
    margin: 0;
}

nav a{
    list-style:none;
    padding: 0;
    margin: 0;
    color: black;
}

